.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  list-style: none;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 620px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 468px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
