.review {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  padding: 3rem;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: white;
  border: 1px solid var(--color-border);
}

.reviewText {
  margin-bottom: 2rem;
}

.date {
  color: #6f6f6f;
  margin-bottom: 2rem;
}

.link {
  font-weight: 600;
}
