.wrapper {
  display: flex;
  gap: 2rem;
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .wrapper {
    flex-direction: column;
  }
}