.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 3rem;
  gap: 1rem;
  font-weight: 600;
  /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
}

.header ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .logo span {
    display: none;
  }
}
