.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-size: 2rem;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .logo span {
    display: none;
  }
}
