.hero {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url("../assets/movie-hero.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 50rem;
  padding: 3rem;
  color: #fff;
  font-size: 15rem;
  font-weight: 700;
  letter-spacing: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  margin: 5rem 2rem;
}
