.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchBox {
  width: 500px;
  display: flex;
}
.searchInput {
  width: 100%;
  padding: 10px;
  border: 4px solid #15405d;
  border-radius: 10px 0 0 10px;
  border-right: none;
  outline: none;
  font-size: 20px;
  background: none;
}
.searchButton {
  text-align: center;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 4px solid #15405d;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background: none;
  padding: 3px;
  border-left: 4px solid #15405d;
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 768px) {
  .searchBox {
    width: 100%;
  }
}
