.movie {
  height: 20rem;
  max-width: 80rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  border: 1px solid var(--color-border);
  overflow: hidden;
}

.movie img {
  height: 20rem;
}

@media (max-width: 40em) {
  .movie {
    border-radius: 0;
  }

  .movie img {
    height: 10rem;
  }
}

.movie p {
  margin-bottom: 1rem;
}

.link {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.link:link,
.link:visited {
  color: var(--text-color);
}

.details {
  padding: 1rem 1rem 1rem 0;
}

.title {
  font-size: 2.4rem;
  font-weight: 500;
}

.date {
  color: var(--text-color-gray);
}

.overview {
  font-size: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
