.movie {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  transition: 0.3s;
}

.movie:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.5rem);
}

.movie img {
  width: 100%;
}

.details {
  padding: 10px;
}

.rating {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 400;
}

a:link,
a:visited {
  text-decoration: none;
  color: #212529;
}

a:hover,
a:active {
  color: #1d5a82;
}
