.details {
  padding: 0.5rem;
  color: var(--text-color);
}

.rating {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 400;
}
