.dl {
  color: #212529;
  font-size: 1.6rem;
  border-radius: var(--border-radius);
  padding: 3rem;
  box-shadow: var(--shadow);
  background-color: white;
  border: 1px solid var(--color-border);
}

.dl dt {
  font-weight: 600;
}

.dl dd {
  margin-bottom: 2rem;
}
