.wrapper {
  margin-bottom: 5rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  list-style: none;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 480px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
