.wrapper {
  position: relative;
  margin-bottom: 5rem;
}

.content {
  display: flex;
  overflow: scroll;
  gap: 5rem;
  list-style: none;
}

.content::after {
  position: absolute;
  content: "";
  right: 0;
  height: 100%;
  width: 5rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
